
extends ../templates/template.pug

mixin popup-add
  .popup
    button.popup__close
      img(src="assets/img/close.svg" alt="Close")

    h2.popup__title Добавление бронирования
    form.popup__form
      p Количество ночей
      input.popup__input(type="text" placeholder="0")
      p ФИО
      input.popup__input(type="text" placeholder="ФИО гостя")
      p Телефон
      input.popup__input(type="text" placeholder="+7 (___) ___ - __ - __")
      button.popup__btn Добавить

mixin popup-order
  .popup
    button.popup__close
      img(src="assets/img/close.svg" alt="Close")

    .popup-order
      img(src="assets/img/face.png" alt="Face")
      b #19984
      p Елизавета Иванова
      p +7 999 214 87 87

      button.popup__btn Изменить
      button.popup__btn.popup__btn--reset Отменить бронь

mixin orders-calendar({ month, placeholdersCount  })
  -
    var days = [...month.days];
    for (var i = 0; i < placeholdersCount; i++) {
      days.unshift({ placeholder: true });
    }

    var weeks = [];
    var lastIndex;

    days.forEach((el, i) => {
      var index = i + 1;
      var isEnd = index % 7 === 0;
      if (isEnd) {
        weeks.push(days.slice(index - 7, index));
        lastIndex = i + 1;
      }
    });

    weeks.push(days.slice(lastIndex));

  .orders-calendar-container
    .orders-calendar
      .orders-calendar-head
        .orders-calendar-head__title= month.name

      .orders-calendar-body
        table.orders-calendar-table
          tbody
            each week, j in weeks
              tr
                each day, i in week
                  td( class={ 'orders-calendar-placeholder': day.placeholder})
                    if !day.placeholder

                      -
                        var isStartWeek = i == 0;

                        var hasOrder = !!day.order;
                        var isStartDay = hasOrder && day.order.startDay === day.num;
                        var isEndDay = hasOrder && day.order.endDay === day.num;
                        var isOrderDay = hasOrder && !isStartDay && !isEndDay;
                        var color = hasOrder && day.order.color ? day.order.color : '#6a93c6'
                    
                      .orders-calendar-day(class={
                        'orders-calendar-day--order': isOrderDay,
                        'orders-calendar-day--start': isStartDay,
                        'orders-calendar-day--end': isEndDay
                      } style={ '--background': color })
                        p.orders-calendar-day__num= day.num

                        if hasOrder
                          button.orders-calendar-day__btn(data-modal-open="order" type="button")

                        if !hasOrder
                          button.order-cell-btn(data-modal-open="add-order" type="button")
                            img(src="assets/img/plus-circle.svg" alt="Plus")

                        if isStartDay
                          .orders-calendar-day__text.orders-calendar-day__text--max-width(style={ '--width': week.length - i })= day.order.text

                        if isOrderDay && day.num == 1
                          .orders-calendar-day__text.orders-calendar-day__text--max-width(style={ '--width': week.length - i })= day.order.text

                        if isOrderDay && isStartWeek
                          .orders-calendar-day__text.orders-calendar-day__text--max-width(style={ '--width': 2 })= day.order.text



block content

  -
    var controlsList = [
      '-30',
      '-7',
      'Сегодня',
      '+30',
      '+7'
    ];

    var nav = [
      { text: 'Мой профиль' },
      { text: 'Сообщения', num: 23 },
      { text: 'Мои номера', num: 3 },
      { text: 'Избранное' },
      { text: 'Статистика' },
      { text: 'Доска заказов', active: true },
      { text: 'Выход' },
    ];

    var roomTypes = [
      'Стандарт',
      'Люкс',
      'Полулюкс',
      'Президентский',
      'Стандарт 2',
      'Стандарт 3',
      'Стандарт 4',
      'Стандарт 5'
    ];

    var rooms = [
      { title: 'Двухместный номер с 1 кроватью', list: roomTypes },
      { title: 'Двухместный номер с 2 кроватями', list: roomTypes }
    ];

    var roomsNames = rooms.reduce((accum, room) => {
      const list = room.list.map(el => ({ text: el }))

      return [...accum, { text: room.title, title: true }, ...list];
    }, []);

    var days = [];
    for (var x = 0; x < 31; x++) {
      days.push({ name: 'вт', num: x + 1 })
    };

    var months = [
      { name: 'Май 2020 г.', days },
      { name: 'Июнь 2020 г.', days: days.slice(0, -1) }
    ];

    var allDays = months.reduce((accum, month) => {
      return [...accum, ...month.days];
    }, []);

    var orders = [
      {
        color: '#6A93C6',
        text: '454512 Антон Тимошенко',
        width: 4,
        left: 57,
        top: 17
      },
      {
        color: '#6A93C6',
        text: '454512 Иван Тимошенко',
        width: 3,
        left: 0,
        top: 2
      },
      {
        color: '#6A93C6',
        text: '19984 Елизавета Ивановна',
        width: 4,
        left: 4,
        top: 3
      },
      {
        color: '#6A93C6',
        text: '19984 Елизавета Ивановна, +7 999 287 45 81',
        width: 6,
        left: 8,
        top: 5
      },
      {
        color: '#6AC689',
        text: '19984 Елизавета Ивановна, +7 999 287 45 81',
        width: 5,
        left: 33,
        top: 4
      },
      {
        color: '#6AC689',
        text: '19984 Елизавета Ивановна, +7 999 287 45 81',
        width: 10,
        left: 3,
        top: 12
      }
    ];


    var order454512 = {
      startDay: 6, endDay: 9, days: 4, text: '454512 Иван Тимошенко'
    };
    var order198456 = {
      startDay: 30, endDay: 3, days: 5, text: '198456 Константин Перепечко'
    };
    var order123123 = {
      startDay: 15, endDay: 18, days: 4, text: '123123 Антонина Васильевна', color: '#6AC689'
    };

    var mayDays = [];
    for (var x = 0; x < 31; x++) {
      var day = { num: x + 1 };
      if (x >= 5 && x <= 8) day.order = order454512;
      if (x >= 29 && x <= 30) day.order = order198456;
      mayDays.push(day)
    };

    var juneDays = [];
    for (var x = 0; x < 30; x++) {
      var day = { num: x + 1 };
      if (x >= 0 && x <= 2) day.order = order198456;
      if (x >= 14 && x <= 17) day.order = order123123;
      juneDays.push(day)
    };

    var ordersMonths = [
      {
        name: 'Май 2020 г.',
        days: mayDays
      },
      {
        name: 'Июнь 2020 г.',
        days: juneDays
      }
    ];


  section.modal.modal--add-order(data-modal="add-order")
    button.modal__overlay(type="button" data-modal-close="add-order")
    
    .modal__container(type="button")
      button.popup__close
        img(src="assets/img/close.svg" alt="Close")

      h2.popup__title Добавление бронирования
      form.popup__form
        p Количество ночей
        input.popup__input(type="text" placeholder="0")
        p ФИО
        input.popup__input(type="text" placeholder="ФИО гостя")
        p Телефон
        input.popup__input(type="text" placeholder="+7 (___) ___ - __ - __")
        button.popup__btn Добавить

  section.modal.modal--order(data-modal="order")
    button.modal__overlay(type="button" data-modal-close="order")

    .modal__container
      button.popup__close(type="button" data-modal-close="order")
        img(src="assets/img/close.svg" alt="Close")

      .popup-order
        img(src="assets/img/face.png" alt="Face")
        b #19984
        p Елизавета Иванова
        p +7 999 214 87 87

        button.popup__btn Изменить
        button.popup__btn.popup__btn--reset Отменить бронь


  .orders-page
    aside.orders-aside
      nav.nav
        ul
          each link in nav
            li
              a(class={ 'nav__link--active': link.active } href="#").nav__link
                span.nav__link-text= link.text
                if link.num
                  span.nav__link-num= link.num

    .orders-container
      h2.orders-title Доска заказов

      ul.orders-controls
        each control in controlsList
          li
            label.orders-control
              input(type="button")
              span.orders-control__text= control
        li
          span.orders-control-label Дата
          label.orders-control
            input(type="button")
            span.orders-control__text 2020-05-10

        li
          label.orders-control
            input(type="button")
            img.orders-control__icon(src="assets/img/more.svg")

      .orders-selects-mobile
        select
          option(value="Двухместный номер с 1 кроватью" selected) Двухместный номер с 1 кроватью
          option(value="Двухместный номер с 2 кроватями") Двухместный номер с 2 кроватями

        select
          each roomType, i in roomTypes
            - var isFirst = i === 0;
            option(value=roomType selected=isFirst)= roomType

      .orders-content
        section.orders-table
          .orders-table__aside
            .orders-table__aside-cell
            each room in rooms
              ul.orders-category
                li
                  .cell.cell--grey
                    .cell__inner
                each category in room.list
                  li
                    .cell
                      .cell__inner= category

          .orders-table__content
            ul.orders-table__months
              each month in months
                li
                  .orders-table__month
                    .orders-table__month-name= month.name
                  ul.orders-table__month-days
                    each day in month.days
                      .orders-table__month-day
                        span= day.name
                        b= day.num

            .orders-table__cells
              each roomName, i in roomsNames
                - var isTitle = roomName.title;


                .orders-table__cells-row(class={ 'orders-table__cells-row--title': isTitle})
                  if isTitle
                    .orders-table__row-title= roomName.text

                  each day, j in allDays
                    .cell(class={ 'cell--grey': isTitle})
                      .cell__inner
                        if !isTitle
                          button.order-cell-btn.js-order-popup(type="button")
                            img(src="assets/img/plus-circle.svg" alt="Plus")

            ul.orders-list
              each order in orders
                li
                  button.orders-item.js-show-order-popup(style={
                    '--color': order.color,
                    '--width': order.width,
                    '--top': order.top,
                    '--left': order.left
                  } type="button")
                    .orders-item__inner= order.text

            .order-cell-popup
              +popup-add

            .orders-item-popup
              +popup-order

        section.orders-months
          .orders-month
            +orders-calendar({ month: ordersMonths[0], placeholdersCount: 0})
          .orders-month
            +orders-calendar({ month: ordersMonths[1], placeholdersCount: 3})

